<app-header backButton="/auth" title="Recuperar contraseña"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
      [formGroup]="form"
      class="auth-form"
    >
      <app-logo></app-logo>

      <app-custominput
        icon="mail-outline"
        autocomplete="email"
        type="email"
        [control]="form.controls.email"
        label="Correo"
      ></app-custominput>

      <div
        class="validators"
        *ngIf="form.controls.email.errors && form.controls.email.touched"
      >
        <div *ngIf="form.controls.email.errors?.['required']">
          El correo es obligatorio
        </div>
        <div *ngIf="form.controls.email.errors?.['email']">
          'El correo no es válido
        </div>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="form.invalid"
      >
        Enviar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
